<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flexrow">
        <b>Token Image:</b>
        <file-picker class="actor-header-bg-filepicker" name="system.forms.{{form}}.token.img" type="imagevideo" data-document-u-u-i-d="{{actor.uuid}}"
            value="{{formTokenImg}}"></file-picker>
    </div>
</section>
