<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flexrow">
        <b>Token Image:</b>
        <input name="system.forms.{{form}}.token.img" type="text" data-document-u-u-i-d="{{actor.uuid}}" value="{{formTokenImg}}"/>
    </div>
</section>
