<form class="{{cssClass}} flexcol{{#if locked}} locked{{/if}}" autocomplete="off">
  {{!-- Coterie Sheet Header --}}
    <header class="actor-header" {{#if headerbg}} style="background: url({{headerbg}}) center;"{{/if}}>
        {{> "systems/vtm5e/display/shared/actors/parts/group/header-profile.hbs"}}
        <div>
            <div class="flexrow coterie-features grid-2col">
                    <div class="flex-group-center chasse">
                        <div class="flexrow field-header">
                            <label for="system.chasse.value" class="resource-label">{{localize "WOD5E.VTM.Chasse"}}</label>
                        </div>
                        <div class="resource resource-content flexrow flex-center flex-between">
                            <div class="resource-value" data-value="{{actor.system.chasse.value}}" data-name="system.chasse.value">
                                <span class="resource-value-empty"></span>
                                {{#numLoop 5}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                                {{/numLoop}}
                            </div>
                        </div>
                    </div>
                    <div class="flex-group-center lien">
                        <div class="flexrow field-header">
                            <label for="system.lien.value" class="resource-label">{{localize "WOD5E.VTM.Lien"}}</label>
                        </div>
                        <div class="resource resource-content flexrow flex-center flex-between">
                            <div class="resource-value" data-value="{{actor.system.lien.value}}" data-name="system.lien.value">
                                <span class="resource-value-empty"></span>
                                {{#numLoop 5}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                                {{/numLoop}}
                            </div>
                        </div>
                    </div>
                    {{#ifgr actor.system.chasse.value 0}}
                        <div class="flex-group-center hunting-difficulty">
                            <div class="flexrow field-header">
                                <label class="resource-label">{{localize "WOD5E.VTM.HuntingDifficulty"}}</label>
                            </div>
                            <div class="resource resource-content flexrow flex-center flex-between">
                                <div class="resource-value">
                                    {{huntingDifficulty}}
                                </div>
                            </div>
                        </div>
                    {{/ifgr}}
                    <div class="flex-group-center portillon">
                        <div class="flexrow field-header">
                            <label for="system.portillon.value" class="resource-label">{{localize "WOD5E.VTM.Portillon"}}</label>
                        </div>
                        <div class="resource resource-content flexrow flex-center flex-between">
                            <div class="resource-value" data-value="{{actor.system.portillon.value}}" data-name="system.portillon.value">
                                <span class="resource-value-empty"></span>
                                {{#numLoop 5}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                                {{/numLoop}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>

  {{!-- Tab Navigation --}}
  {{> "systems/vtm5e/display/shared/actors/parts/group/navbar.hbs"}}

  {{!-- Coterie Sheet Body --}}
  <section class="sheet-body">
    {{!-- Group Members Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/group/group-members.hbs"}}

    {{!-- Shared Features Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/features.hbs"}}

    {{!-- Notes Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/notepad.hbs"}}

    {{!-- Settings Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/actor-settings.hbs"}}
  </section>
</form>
