<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">
    {{!-- Ghoul Sheet Header --}}
    <header class="actor-header">
        <div class="header-fields">
            <div class="header-fields-left">
                {{!-- Health Tracker --}}
                {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
                {{!-- Willpower Tracker --}}
                {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
            </div>
        </div>
        <div class="header-profile">
            <div class="header-profile-img">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{localize 'WOD5E.ActorImage'}}"/>
            </div>
            <div class="flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WOD5E.Name'}}" />
                </h1>
                {{#if actor.isOwner}}
                    <button type="button" class="lock-btn">
                        {{#if locked}}
                            <i class="fa fa-lock"></i>
                        {{else}}
                            <i class="fa fa-lock-open"></i>
                        {{/if}}
                    </button>
                {{/if}}
            </div>
        </div>
        <div class="header-fields">
            <div class="header-fields-right">
                <div class="flexcol field-section">
                    <label class="resource-label field-header">{{localize "WOD5E.VTM.Humanity"}}</label>
                    {{> "systems/vtm5e/display/vtm/actors/parts/humanity.hbs"}}
                </div>
                <div class="flexcol field-section">
                    <label class="resource-label field-header">{{localize 'WOD5E.VTM.Domitor'}}</label>
                    <input name="system.headers.domitor" type="text" value="{{actor.system.headers.domitor}}" placeholder="{{localize 'WOD5E.VTM.Domitor'}}" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Tab Navigation --}}
    <div class="tabs-container">
        <nav class="sheet-tabs tabs" data-group="primary">
            <div class="item" data-tab="stats" title="{{localize "WOD5E.Tabs.Stats"}}">
                <div class="navicon">
                    <i class="fa-regular fa-chart-line"></i>
                </div>
            </div>
            <div class="item" data-tab="disciplines" title="{{localize "WOD5E.VTM.Disciplines"}}">
                <div class="navicon">
                    <span class="wod5e-symbol">b</span>
                </div>
            </div>
            <div class="item" data-tab="features" title="{{localize "WOD5E.Tabs.Features"}}">
                <div class="navicon">
                    <i class="fas fa-gem"></i>
                </div>
            </div>
            <div class="item" data-tab="description" title="{{localize "WOD5E.Tabs.Description"}}">
                <div class="navicon">
                    <i class="fas fa-id-card"></i>
                </div>
            </div>
            <div class="item" data-tab="other" title="{{localize "WOD5E.Tabs.Other"}}">
                <div class="navicon">
                    <i class="fas fa-sticky-note"></i>
                </div>
            </div>
        </nav>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/stats.hbs"}}

        {{!-- Owned Powers Tab --}}
        {{> "systems/vtm5e/display/vtm/actors/parts/disciplines.hbs"}}

        {{!-- Owned Features Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/features.hbs"}}

        {{!-- Biography Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/biography.hbs"}}

        {{!-- Other Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/other.hbs"}}
    </section>

    {{!-- Actor Type Banner --}}
    {{#if displayBanner}}
    <div class="sheet-banner">
      {{localize "WOD5E.VTM.Label"}}
    </div>
    {{/if}}
</form>
