<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">
    {{!-- Vampire Sheet Header --}}
    <header class="actor-header" {{#if actor.system.settings.headerbg}}style="background: url({{actor.system.settings.headerbg}}) center;"{{/if}}>
        <div class="header-fields">
            <div class="header-fields-left">
                {{!-- Health Tracker --}}
                {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
                {{!-- Willpower Tracker --}}
                {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
            </div>
        </div>
        <!-- Middle of the header -->
        {{> "systems/vtm5e/display/shared/actors/parts/header-profile.hbs"}}
        <div class="header-fields">
            <div class="header-fields-right">
                <div class="flexcol">
                    <div class="field-section">
                        <div class="flexrow nowrap">
                            <div class="flexcol">
                                <label class="resource-label field-header">{{localize 'WOD5E.VTM.PredatorType'}}</label>
                                <input name="system.headers.predator" type="text" value="{{actor.system.headers.predator}}" placeholder="{{localize 'WOD5E.VTM.PredatorType'}}"/>
                            </div>
                            <div class="flexcol">
                                <label class="resource-label field-header">{{localize 'WOD5E.VTM.Clan'}}</label>
                                <input name="system.clan.value" type="text" value="{{actor.system.clan.value}}" placeholder="{{localize 'WOD5E.VTM.Clan'}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="flexcol field-section">
                        <label class="resource-label field-header">{{localize "WOD5E.VTM.Hunger"}}</label>
                        <div class="flexrow">
                            {{> "systems/vtm5e/display/vtm/actors/parts/hunger.hbs"}}
                            {{> "systems/vtm5e/display/vtm/actors/parts/rouse.hbs"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Tab Navigation --}}
    {{> "systems/vtm5e/display/shared/actors/parts/navbar.hbs"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/stats.hbs"}}

        {{!-- Owned Powers Tab --}}
        {{> "systems/vtm5e/display/vtm/actors/parts/disciplines.hbs"}}

        {{!-- Owned Features Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/features.hbs"}}

        {{!-- Blood Tab --}}
        {{> "systems/vtm5e/display/vtm/actors/parts/blood.hbs"}}

        {{!-- Biography Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/biography.hbs"}}

        {{!-- Other Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/other.hbs"}}

        {{!-- Settings Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/actor-settings.hbs"}}
    </section>

    {{!-- Actor Type Banner --}}
    {{#if displayBanner}}
    <div class="sheet-banner">
      {{localize "WOD5E.VTM.Label"}}
    </div>
    {{/if}}
</form>
