<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <prose-mirror name="system.bane" value="{{bane}}" toggled="true" compact="true">
        {{{enrichedBane}}}
    </prose-mirror>
</section>
