<header class="item-header">
    <img class="profile-img" data-action="editImage" src="{{img}}" data-edit="img" title="{{name}}" alt="Item Image" />
    <div class="header-fields">
        <input class="itemname" name="name" type="text" value="{{name}}" placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="flexrow">
            <div class="flexcol level flex-center item-resource">
                <div>
                    <b>
                        {{localize "WOD5E.ItemsList.Quantity"}}
                    </b>
                </div>
                <input name="system.quantity" value="{{quantity}}" type="number" min="0"/>
            </div>
        </div>
    </div>
</header>
