<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <prose-mirror name="system.skills.{{skill}}.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{skillDescription}}"
        toggled="true" compact="true">
        {{{enrichedDescription}}}
    </prose-mirror>
</section>
