<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div>
        {{localize "WOD5E.Macro.MacroNote"}}
    </div>
    <hr>
    <div class="grid grid-2col">
        <b>{{localize "WOD5E.Macro.MacroID"}}</b>
        <input id="macroid" name="system.skills.{{skill}}.macroid" type="text" value="{{macroid}}"/>
    </div>
</section>
