<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="modifiers-list">
        {{#each bonuses as |bonus key|}}
            <div class="modifier" style="margin-top: 5px;">
                <div class="field-header">
                    <a class="edit-bonus" data-action="editModifier" title="Edit bonus" data-bonus="{{key}}" style="margin-right: 5px; margin-top: 5px; font-size: 13pt;">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{bonus.source}}
                    <a class="delete-bonus" data-action="deleteModifier" title="Delete bonus" data-bonus="{{key}}" style="float: right;">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <div class="grid grid-2col flex-center">
                    <div class="flexcol flex-center">
                        <b>{{localize 'WOD5E.Value'}}</b>
                        <input class="input-value" name="value" type="number" value="{{bonus.value}}" disabled="true"/>
                    </div>
                    <div class="flexcol flex-center">
                        <b>{{localize "WOD5E.Modifier.Selectors"}}</b>
                        <input name="paths" class="modifier-selectors" type="text" value="{{splitArray bonus.paths}}" placeholder="{{localize 'WOD5E.None'}}" disabled="true"/>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <hr>
    <div class="flex-center">
        <b>
            <a class="add-bonus" data-action="addModifier">{{localize 'WOD5E.Modifier.AddNewSpecialty'}}</a>
        </b>
    </div>
</section>
