<div class="bonus">
    <div class="field-header big-header"><input id="bonusSource" type="text" value="{{bonus.source}}" placeholder="{{localize 'WOD5E.Bonus.NewSpecialty'}}"/></div>
    <div class="grid grid-2col flex-center">
        <div class="flexcol flex-center">
            <b>{{localize "WOD5E.Value"}}</b>
            <input class="input-value" id="bonusValue" type="number" value="{{bonus.value}}"/>
        </div>
        <div class="flexcol flex-center">
            <b>{{localize "WOD5E.Bonus.Selectors"}}</b>
            <input type="text" id="bonusPaths" value="{{splitArray bonus.paths}}"/>
        </div>
    </div>
    <hr>
</div>
