<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <prose-mirror name="system.ban" value="{{ban}}" toggled="true" compact="true">
        {{{enrichedBan}}}
    </prose-mirror>
</section>
