<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <prose-mirror name="system.frailty" value="{{frailty}}" toggled="true" compact="true">
        {{{enrichedFrailty}}}
    </prose-mirror>
</section>
