<div>
    <div class="resource-label field-header flex-center">
        {{localize "WOD5E.SPC.ExceptionalDicePools"}}
        <a class="edit-exceptional-pools" data-action="editExceptionalPools" title="Edit exceptional pools">
            <i class="fas fa-edit"></i>
        </a>
    </div>
    <div class="flexrow exceptional-pools-list">
        <!-- Iterate through each of the skill lists -->
        {{#each exceptionalPools as |exceptionalskill key|}}
            {{#if exceptionalskill.active}}
                <div class="spc-item-header exceptional-pool">
                    <div class="flexrow resource-label rollable" data-action="roll" data-value-paths="exceptionaldicepools.{{key}}.value" data-select-dialog="false"
                        data-label="{{exceptionalskill.displayName}}" {{#if ../noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                        {{exceptionalskill.displayName}}
                    </div>
                    <div class="resource-value">
                        <input type="number" name="system.exceptionaldicepools.{{key}}.value"
                        value="{{exceptionalskill.value}}" data-name="system.exceptionaldicepools.{{key}}.value"/>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

