<div class="field-section flexcol">
    <div class="field-header flexrow resource-label">
        {{localize "WOD5E.SPC.GeneralDifficulty"}}
    </div>
    <div class="resource">
        <div class="flex-group-center flexrow">
            <div class="flexcol flex-center">
                <a data-action="roll" data-use-absolute-value="true" data-absolute-value="{{generaldifficulty.strongest}}">
                    {{localize 'WOD5E.SPC.Strongest'}}
                    <i class="fa-solid fa-dice-d10"></i>
                </a>
                {{#if locked}}
                    {{generaldifficulty.strongest}}
                {{else}}
                    <input type="number" name="system.generaldifficulty.strongest" value="{{generaldifficulty.strongest}}" data-dtype="Number"/>
                {{/if}}
            </div>
            <div class="flexcol flex-center">
                <a data-action="roll" data-use-absolute-value="true" data-absolute-value="{{generaldifficulty.normal}}">
                    {{localize 'WOD5E.SPC.Normal'}}
                    <i class="fa-solid fa-dice-d10"></i>
                </a>
                {{#if locked}}
                    {{generaldifficulty.normal}}
                {{else}}
                    <input type="number" name="system.generaldifficulty.normal" value="{{generaldifficulty.normal}}" data-dtype="Number"/>
                {{/if}}
            </div>
        </div>
    </div>
</div>
