<div class="tab flex-center" data-group="primary">
    <div class="flexrow spc-pool-header">
        <label class="resource-label">{{localize "WOD5E.VTM.Disciplines"}}</label>
        <div class="item-controls spc-item-header">
            <a class="item-control power-create" title="{{localize 'WOD5E.VTM.AddDiscipline'}}" data-type="discipline">
                <i class="fas fa-plus"></i>
                {{localize "WOD5E.VTM.AddDiscipline"}}
            </a>
        </div>
    </div>
    <ol class="items-list">
        <!-- Iterate through each of the discipline lists -->
        {{#each actor.system.disciplines as |discipline key|}}
            {{#if discipline.visible}}
                <li class="flexrow spc-item-header">
                    <label for="{{discipline.name}}" class="resource-label rollable" data-use-absolute-value="true"
                      data-absolute-value="{{discipline.value}}" data-label="{{generateLocalizedLabel key 'disciplines'}}">{{generateLocalizedLabel key 'disciplines'}}
                    </label>
                    <div class="resource-value">
                        <input type="number" name="system.disciplines.{{key}}.value" 
                        value="{{discipline.value}}" data-name="system.disciplines.{{key}}.value" />
                    </div>
                    <!-- Item controls for Discipline sections -->
                    <div class="item-controls">
                        <!-- Icon to delete the discipline (as long as it doesn't have any powers) -->
                        <a class="item-control power-delete" title="{{localize 'WOD5E.Delete'}}" data-id="{{key}}" data-type="discipline">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ol>
</div>