<div class="field-section flexcol">
    <div class="field-header flexrow resource-label">
        {{localize "WOD5E.WTA.Form"}}
    </div>
    <div class="flex-group-center wereform flexrow">
        {{#each forms as |form id|}}
            {{#ifeq ../activeForm id}}
                <img class='wereform-icon' src='{{form.glyph}}' width='24px' height='24px' title='{{form.displayName}}' data-form="{{id}}" data-action="editForm"/>
            {{/ifeq}}
        {{/each}}
        <div class="swap-form clickable" title="{{localize 'WOD5E.WTA.SwapForm'}}" data-action="shiftForm">
            <i class="fa-solid fa-repeat"></i>
        </div>
    </div>
</div>
