<div class="tab flex-center" data-group="primary">
    <div class="flexrow spc-pool-header">
        <label class="resource-label">{{localize "WOD5E.HTR.Edges"}}</label>
        <div class="item-controls spc-item-header">
            <a class="item-control power-create" title="{{localize 'WOD5E.VTM.AddEdge'}}" data-type="edge">
                <i class="fas fa-plus"></i>
                {{localize "WOD5E.HTR.AddEdge"}}
            </a>
        </div>
    </div>
    <ol class="items-list">
        <!-- Iterate through each of the edge lists -->
        {{#each actor.system.edges as |edge key|}}
            {{#if edge.visible}}
                <li class="flexrow spc-item-header">
                    <label for="{{edge.name}}" class="resource-label rollable" data-use-absolute-value="true"
                      data-absolute-value="{{edge.value}}" data-label="{{generateLocalizedLabel key 'edges'}}">{{generateLocalizedLabel key 'edges'}}
                    </label>
                    <div class="resource-value">
                        <input type="number" name="system.edges.{{key}}.value" 
                        value="{{edge.value}}" data-name="system.edges.{{key}}.value" />
                    </div>
                    <!-- Item controls for Edge sections -->
                    <div class="item-controls">
                        <!-- Icon to delete the edge (as long as it doesn't have any powers) -->
                        <a class="item-control power-delete" title="{{localize 'WOD5E.Delete'}}" data-type="edge" data-id="{{key}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ol>
</div>