<div class="description-field">
    <div class="flex-center field-header">
        <label class="resource-label">
            {{localize "WOD5E.ItemsList.Conditions"}}
        </label>
    </div>
    <div class="description-content resource list-resource">
        <div class="items-list flexcol">
            {{#each conditions as |condition id|}}
                <div class="collapsible-container">
                    <div class="item flexrow" data-drag="true" data-item-id="{{condition.id}}" data-document-uuid="{{condition.uuid}}" data-type="Item">
                        <div class="item-image clickable" data-action="itemChat" data-item-id="{{condition._id}}">
                            <img src="{{condition.img}}" title="{{condition.name}}" width="24" height="24" alt="{{condition.name}}" />
                        </div>
                        <div class="item-name{{#if condition.system.enrichedDescription}} collapsible{{/if}}" {{#if condition.system.enrichedDescription}}data-action="toggleCollapse"{{/if}}>
                            {{condition.name}}
                        </div>
                        <div class="item-controls">
                            <a class="item-control item-edit" data-action="itemEdit" data-item-id="{{condition._id}}" title="{{localize 'WOD5E.Edit'}}"><i
                                class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" data-action="itemDelete" data-item-id="{{condition._id}}" title="{{localize 'WOD5E.Delete'}}"><i
                                class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="collapsible-content trait-description">
                        {{{condition.system.enrichedDescription}}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="flex-group-center">
            <a class="item-control item-create" data-action="createItem" title="{{localize 'WOD5E.Add'}}" data-type="condition">
                <i class="fas fa-plus"></i> {{localize "WOD5E.Add"}}
            </a>
        </div>
    </div>
</div>
