<div class="tab flex-center" data-group="primary">
    <label class="resource-label field-header">{{localize "WOD5E.SPC.StandardDicePools"}}</label>
    <div class="attributes grid grid-3col flex-group-center">
        <!-- Physical Dicepool -->
        <div class="resource-content flexcol flex-center flex-between">
            <label for="Physical" class="resource-label rollable" data-action="roll" data-use-absolute-value="true"
                data-absolute-value="{{standardPools.physical.value}}" data-label="{{localize 'WOD5E.SPC.Physical'}}" {{#if noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                {{localize 'WOD5E.SPC.Physical'}} <i class="fa-solid fa-dice-d10"></i>
            </label>
            <input type="number" name="system.standarddicepools.physical.value" value="{{standardPools.physical.value}}" data-dtype="Number" />
        </div>

        <!-- Social Dicepool -->
        <div class="resource-content flexcol flex-center flex-between">
            <label for="Social" class="resource-label rollable" data-action="roll" data-use-absolute-value="true"
                data-absolute-value="{{standardPools.social.value}}" data-label="{{localize 'WOD5E.SPC.Social'}}" {{#if noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                {{localize 'WOD5E.SPC.Social'}} <i class="fa-solid fa-dice-d10"></i>
            </label>
            <input type="number" name="system.standarddicepools.social.value" value="{{standardPools.social.value}}" data-dtype="Number" />
        </div>

        <!-- Mental Dicepool -->
        <div class="resource-content flexcol flex-center flex-between">
            <label for="Mental" class="resource-label rollable" data-action="roll" data-use-absolute-value="true"
                data-absolute-value="{{standardPools.mental.value}}" data-label="{{localize 'WOD5E.SPC.Mental'}}" {{#if noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                {{localize 'WOD5E.SPC.Mental'}} <i class="fa-solid fa-dice-d10"></i>
            </label>
            <input type="number" name="system.standarddicepools.mental.value" value="{{standardPools.mental.value}}" data-dtype="Number" />
        </div>
    </div>
</div>
