<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="grid grid-2col flexrow spc-stats-body">
        <div>
            {{> "systems/vtm5ec/display/shared/actors/parts/spc/standard-dice-pools.hbs"}}

            {{> "systems/vtm5ec/display/shared/actors/parts/spc/exceptional-dice-pools.hbs"}}

            {{#if showDisciplines}}
                {{> "systems/vtm5ec/display/shared/actors/parts/spc/spc-disciplines.hbs"}}
            {{/if}}

            {{#if showGifts}}
                {{> "systems/vtm5ec/display/shared/actors/parts/spc/spc-gifts.hbs"}}
            {{/if}}

            {{#if showEdges}}
                {{> "systems/vtm5ec/display/shared/actors/parts/spc/spc-edges.hbs"}}
            {{/if}}
        </div>

        <div>
            {{#ifeq currentActorType 'spirit'}}
                <div class="description-field">
                    <div class="flex-center field-header">
                        <label class="resource-label">
                            {{localize "WOD5E.WTA.PossessionManifestation"}}
                        </label>
                    </div>
                    <div class="description-content resource">
                        <prose-mirror name="system.manifestation" value="{{manifestation}}"
                            toggled="true" compact="true">
                            {{{enrichedManifestation}}}
                        </prose-mirror>
                    </div>
                </div>
            {{/ifeq}}

            <div class="description-field">
                <div class="flex-center field-header">
                    <label class="resource-label">
                        {{localize "WOD5E.SPC.Traits"}}
                    </label>
                </div>
                <div class="description-content resource list-resource">
                    <div class="items-list flexcol">
                        {{#each traits as |trait id|}}
                            <div class="collapsible-container">
                                <div class="item flexrow" data-drag="true" data-item-id="{{trait.id}}" data-document-uuid="{{trait.uuid}}" data-type="Item">
                                    <div class="item-image" data-action="itemChat" data-item-id="{{trait._id}}">
                                        <img src="{{trait.img}}" title="{{trait.name}}" width="24" height="24" alt="{{trait.name}}" />
                                    </div>
                                    <div class="item-name{{#if trait.system.enrichedDescription}} collapsible{{/if}}" {{#if trait.system.enrichedDescription}}data-action="toggleCollapse"{{/if}}>
                                        {{trait.name}}
                                    </div>
                                    <div class="item-controls">
                                        {{#ifgr trait.system.dice 0}}
                                            <a class="item-image rollable-item" data-action="roll" data-use-absolute-value="true" data-absolute-value="{{trait.system.dice}}"
                                                data-select-dialog="false" data-label="{{exceptionalskill.displayName}}" {{#if ../noAdvancedDice}} data-disable-advanced-dice="true"{{/if}}>
                                                <i class="fa-solid fa-dice-d10"></i>
                                            </a>
                                        {{/ifgr}}
                                        <a class="item-control item-edit" data-action="itemEdit" data-item-id="{{trait._id}}" title="{{localize 'WOD5E.Edit'}}"><i
                                            class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" data-action="itemDelete" data-item-id="{{trait._id}}" title="{{localize 'WOD5E.Delete'}}"><i
                                            class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="collapsible-content trait-description">
                                    {{{trait.system.enrichedDescription}}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="flex-group-center">
                        <a class="item-control item-create" data-action="createItem" title="{{localize 'WOD5E.Add'}}" data-type="trait">
                            <i class="fas fa-plus"></i> {{localize "WOD5E.Add"}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="description-field">
                <div class="flex-center field-header">
                    <label class="resource-label">
                        {{localize "WOD5E.ItemsList.Conditions"}}
                    </label>
                </div>
                <div class="description-content resource list-resource">
                    <div class="items-list flexcol">
                        {{#each conditions as |condition id|}}
                            <div class="collapsible-container">
                                <div class="item flexrow" data-drag="true" data-item-id="{{condition.id}}" data-document-uuid="{{condition.uuid}}" data-type="Item">
                                    <div class="item-image" data-action="itemChat" data-item-id="{{condition._id}}">
                                        <img src="{{condition.img}}" title="{{condition.name}}" width="24" height="24" alt="{{condition.name}}" />
                                    </div>
                                    <div class="item-name{{#if condition.system.enrichedDescription}} collapsible{{/if}}" {{#if condition.system.enrichedDescription}}data-action="toggleCollapse"{{/if}}>
                                        {{condition.name}}
                                    </div>
                                    <div class="item-controls">
                                        <a class="item-control item-edit" data-action="itemEdit" data-item-id="{{condition._id}}" title="{{localize 'WOD5E.Edit'}}"><i
                                            class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" data-action="itemDelete" data-item-id="{{condition._id}}" title="{{localize 'WOD5E.Delete'}}"><i
                                            class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                <div class="collapsible-content trait-description">
                                    {{{condition.system.enrichedDescription}}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="flex-group-center">
                        <a class="item-control item-create" data-action="createItem" title="{{localize 'WOD5E.Add'}}" data-type="condition">
                            <i class="fas fa-plus"></i> {{localize "WOD5E.Add"}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
