<form class="{{cssClass}} flexcol{{#if locked}} locked{{/if}}" autocomplete="off">
  {{!-- Coterie Sheet Header --}}
  <header class="actor-header" {{#if actor.system.settings.headerbg}}style="background: url({{actor.system.settings.headerbg}}) center;"{{/if}}>
    <div class="header-fields-top">
      <!-- Middle of the header -->
      {{> "systems/vtm5e/display/shared/actors/parts/header-profile.hbs"}}
      <div class="header-rows-top">
        <div class="header-row-1">
          {{> "systems/vtm5e/display/shared/actors/parts/group/type-selector.hbs"}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Coterie Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="item" data-tab="members">{{localize "WOD5E.Tabs.Members"}}</div>
    <div class="item" data-tab="features">{{localize "WOD5E.Tabs.Features"}}</div>
    <div class="item" data-tab="description">{{localize "WOD5E.Tabs.Description"}}</div>
    <div class="item" data-tab="other">{{localize "WOD5E.Tabs.Other"}}</div>
  </nav>

  {{!-- Coterie Sheet Body --}}
  <section class="sheet-body">
    {{!-- Group Members Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/group/group-members.hbs"}}

    {{!-- Shared Features Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/features.hbs"}}

    {{!-- Description Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/group/description.hbs"}}

    {{!-- Other Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/other.hbs"}}

    {{!-- Settings Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/actor-settings.hbs"}}
  </section>
</form>
