<form class="{{cssClass}} flexcol{{#if locked}} locked{{/if}}" autocomplete="off">
  {{!-- Coterie Sheet Header --}}
  <header class="actor-header">
    <div class="header-fields-top">
      <div class="header-profile">
          <div class="header-profile-img">
              <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{localize 'WOD5E.ActorImage'}}"/>
          </div>
          <div class="flexrow">
              <h1 class="charname">
                  <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WOD5E.Name'}}" />
              </h1>
              {{#if actor.isOwner}}
                  <button type="button" class="lock-btn">
                      {{#if locked}}
                          <i class="fa fa-lock"></i>
                      {{else}}
                          <i class="fa fa-lock-open"></i>
                      {{/if}}
                  </button>
              {{/if}}
          </div>
      </div>
      <div class="header-rows-top">
        <div class="header-row-1">
          {{> "systems/vtm5e/display/shared/actors/parts/group/type-selector.hbs"}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Coterie Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="item" data-tab="members">{{localize "WOD5E.Tabs.Members"}}</div>
    <div class="item" data-tab="features">{{localize "WOD5E.Tabs.Features"}}</div>
    <div class="item" data-tab="description">{{localize "WOD5E.Tabs.Description"}}</div>
    <div class="item" data-tab="other">{{localize "WOD5E.Tabs.Other"}}</div>
  </nav>

  {{!-- Coterie Sheet Body --}}
  <section class="sheet-body">
    {{!-- Group Members Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/group/group-members.hbs"}}

    {{!-- Shared Features Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/features.hbs"}}

    {{!-- Description Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/group/description.hbs"}}

    {{!-- Other Tab --}}
    {{> "systems/vtm5e/display/shared/actors/parts/other.hbs"}}
  </section>
</form>
