<div class="tab disciplines" data-group="primary" data-tab="disciplines">
    <div class="flexrow">
        <div class="disciplines-list">
            <!-- Item control for adding new discipline lists -->
            <div class="item-controls">
                <a class="item-control add-discipline flex-center" title="{{localize 'WOD5E.VTM.AddDiscipline'}}">
                    <h2>
                        <i class="fas fa-plus"></i>
                        {{localize "WOD5E.VTM.AddDiscipline"}}
                    </h2>
                </a>
            </div>
            <!-- Iterate through each of the discipline lists -->
            {{#each actor.system.disciplines as |discipline key|}}
                {{#if discipline.visible}}
                    <div class="discipline">
                        <div class="flex-center item-header">
                            <div class="item-name">
                                {{discipline.label}}
                            </div>
                        </div>
                        <div class="controls flexrow flex-center">
                            {{#if (and (ne key "rituals") (ne key "ceremonies"))}}
                                <!-- Discipline dots -->
                                <div class="discipline-dots flex-group-center">
                                    <div class="resource-value" data-value="{{discipline.value}}" data-name="system.disciplines.{{key}}.value">
                                        <!-- Empty box (for setting back to 0), and then iterate through the rest of the discipline dots -->
                                        <span class="resource-value-empty"></span>
                                        {{#numLoop 5}}
                                            <span class="resource-value-step" data-index="{{this}}"></span>
                                        {{/numLoop}}
                                    </div>
                                </div>
                            {{/if}}
                            <!-- Item controls for discipline sections -->
                            <div class="item-controls">
                                <!-- Icon to roll the discipline with an attribute and/or skill combination -->
                                <a class="rollable discipline-dice" title="{{localize 'WOD5E.RollList.Label'}}" data-value-paths="disciplines.{{key}}.value"
                                    data-label="{{localize discipline.name}}" data-selectors="discipline disciplines.{{key}}" data-discipline="{{key}}" data-select-dialog="true">
                                    <i class="fa-solid fa-dice-d10"></i>
                                </a>
                                <!-- Icon to show the discipline description to the chat-->
                                <a class="item-control discipline-chat" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}" data-discipline="{{key}}">
                                    <i class="fas fa-comment-alt"></i>
                                </a>
                                <!-- Icon to delete the discipline (as long as it doesn't have any powers) -->
                                {{#if (eq discipline.powers.length 0)}}
                                    <a class="item-control discipline-delete" title="{{localize 'WOD5E.Delete'}}" data-discipline="{{key}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="discipline-description">
                            <prose-mirror name="system.disciplines.{{key}}.description" data-document-u-u-i-d="{{../actor.uuid}}" value="{{discipline.description}}"
                                toggled="true">
                                {{{discipline.enrichedDescription}}}
                            </prose-mirror>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="powers-list">
            {{#each actor.system.disciplines as |discipline key|}}
                {{#if discipline.visible}}
                    <div class="discipline">
                        <div class="flexrow item-header">
                            <div class="item-name">
                                {{#if (and (ne key "rituals") (ne key "ceremonies"))}}
                                    {{localize "WOD5E.VTM.StringPowers" string=discipline.label}}
                                {{else}}
                                    {{discipline.label}}
                                {{/if}}
                            </div>
                            <!-- Item controls for discipline power sections -->
                            <div class="item-controls">
                                <!-- Add new discipline power -->
                                <a class="item-control item-create" title="{{localize 'WOD5E.VTM.AddDiscipline'}}" data-type="power" data-subtype="{{key}}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        {{#each discipline.powers as |power key|}}
                            <div class="collapsible-container">
                                <div class="flexrow power item" data-item-id="{{power._id}}">
                                    <div class="item-image">
                                        <img src="{{power.img}}">
                                    </div>
                                    <div class="item-name{{#if power.system.enrichedDescription}} collapsible{{/if}}">{{power.name}}</div>
                                    <div class="item-controls">
                                        <!-- Icon to edit the power -->
                                        <a class="item-control item-edit" title="{{localize 'WOD5E.Edit'}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <!-- Icon to roll the normal dice for a power -->
                                        {{#if power.system.rollable}}
                                            <a class="item-image power-rollable" data-id="{{power._id}}" data-use-hunger="1">
                                                <i class="fa-solid fa-dice-d10"></i>
                                            </a>
                                        {{/if}}
                                        <!-- Icon to roll the power's rouse check, if applicable -->
                                        {{#if power.system.rouse}}
                                            <a class="item-control item-rouse" title="{{localize 'WOD5E.VTM.RollRouse'}}" data-cost="{{discipline.cost}}">
                                                <i class="fa-solid fa-dice-d10"></i>
                                            </a>
                                        {{/if}}
                                        <!-- Icon to display the power in chat -->
                                        <a class="item-control item-chat" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                                            <i class="fas fa-comment-alt"></i>
                                        </a>
                                        <!-- Icon to delete the power -->
                                        <a class="item-control item-delete" title="{{localize 'WOD5E.Delete'}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapsible-content item-description">
                                    {{{power.system.enrichedDescription}}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
