<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">
    {{!-- SPC Sheet Header --}}
    <header class="actor-header" {{#if headerbg}} style="background: url({{headerbg}}) center;"{{/if}}>
        <div class="header-fields">
            <div class="header-fields-left">
                {{!-- Health Tracker --}}
                {{> "systems/vtm5e/display/shared/actors/parts/health.hbs"}}
                {{!-- Willpower Tracker --}}
                {{> "systems/vtm5e/display/shared/actors/parts/willpower.hbs"}}
            </div>
        </div>
        <!-- Middle of the header -->
        {{> "systems/vtm5e/display/shared/actors/parts/header-profile.hbs"}}
        <div class="header-fields">
            <div class="header-fields-right">
                <div class="flexcol">
                    {{#ifeq actor.system.gamesystem 'vampire'}}
                        <div class="field-section">
                            <div class="flexcol">
                                <label class="resource-label field-header">{{localize 'WOD5E.VTM.Humanity'}}</label>
                                <div class="resource flex-group-center">
                                    {{> "systems/vtm5e/display/vtm/actors/parts/humanity.hbs"}}
                                </div>
                            </div>
                        </div>
                        <div class="field-section">
                            <div class="flexcol">
                                <label class="resource-label field-header">{{localize 'WOD5E.VTM.Hunger'}}</label>
                                {{> "systems/vtm5e/display/vtm/actors/parts/hunger.hbs"}}
                            </div>
                        </div>
                    {{/ifeq}}

                    {{#ifeq actor.system.gamesystem 'werewolf'}}
                        <div class="field-section">
                            <div class="flexcol">
                                <label class="resource-label field-header">{{localize 'WOD5E.WTA.Rage'}}</label>
                                {{> "systems/vtm5e/display/wta/actors/parts/rage-value.hbs"}}
                            </div>
                        </div>
                    {{/ifeq}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Tab Navigation --}}
    {{> "systems/vtm5e/display/shared/actors/parts/navbar.hbs"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Stats Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/spc/stats.hbs"}}

        {{!-- Owned Features Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/features.hbs"}}

        {{!-- Biography Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/biography.hbs"}}

        {{!-- Notes Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/notepad.hbs"}}

        {{!-- Settings Tab --}}
        {{> "systems/vtm5e/display/shared/actors/parts/actor-settings.hbs"}}
    </section>

    {{!-- Actor Type Banner --}}
    {{#if displayBanner}}
        <div class="sheet-banner flexrow">
            {{localize "WOD5E.SPC.Label"}}
        </div>
    {{/if}}
</form>
