<div class="compendium-browser-body flexcol">
  <div class="results-list flexcol">
    {{#ifgr itemsInList.length 0}}
      {{#each itemsInList as |item|}}
        <div class="result-item flexrow clickable" data-uuid="{{item.uuid}}" data-action="openItem" data-type="Item" data-drag="true" data-document-uuid="{{item.uuid}}">
          <img class="result-image" src="{{item.img}}" alt="{{item.name}}"/>

          <div class="result-details flexcol">
            <div class="result-name">
              {{item.name}}
            </div>

            <div class="result-type">
              <i>
                {{localize (concat "TYPES.Item." item.type )}}
              </i>
            </div>

            {{#if item.description}}
              <div class="result-description">
                {{item.description}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="no-results">
        {{localize 'WOD5E.CompendiumBrowser.NoResultsFound'}}
      </div>
    {{/ifgr}}
  </div>
  <div class="results-count">
    {{itemsInList.length}} Results
  </div>
</div>
