<form class="{{cssClass}}" autocomplete="off">
    <header class="item-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="Item Image" />
        <div class="header-fields flexcol">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'WOD5E.Name'}}" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "WOD5E.Tabs.Description"}}</a>
        <a class="item" data-tab="dicepool">{{localize "WOD5E.Tabs.Dicepool"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        {{> "systems/vtm5e/display/shared/items/parts/description.hbs"}}

        {{!-- Dicepool Tab --}}
        {{> "systems/vtm5e/display/shared/items/parts/dicepool.hbs"}}
    </section>
</form>
