<form class="dialog-contents">
  <div class="selectors-group">
    {{#unless (or skill attribute)}}
      <div class="primary-selector">
        <div class="selector-title">
          {{localize "WOD5E.SkillsList.Label"}}
        </div>
        <div class="selector-content">
          <select id="skillSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions skillOptions selected=skill}}
          </select>
        </div>
      </div>
    {{else}}
      <div class="primary-selector">
        {{#if skill}}
          <div class="selector-title">
            {{localize "WOD5E.SkillsList.Label"}}
          </div>
          <div class="selector-content">
            <select id="skillSelect">
                <option value="">{{localize "WOD5E.None"}}</option>
                {{selectOptions skillOptions selected=skill}}
            </select>
          </div>
        {{else if attribute}}
          <div class="selector-title">
            {{localize "WOD5E.AttributesList.Label"}}
          </div>
          <div class="selector-content">
            <select id="attributeSelect2">
                <option value="">{{localize "WOD5E.None"}}</option>
                {{selectOptions attributeOptions selected=attribute2}}
            </select>
          </div>
        {{/if}}
      </div>
    {{/unless}}

    <div class="middle">+</div>

    <!-- Attribute selection -->
    <div class="primary-selector">
        <div class="selector-title">
          {{localize "WOD5E.AttributesList.Label"}}
        </div>
        <div class="selector-content">
          <select id="attributeSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions attributeOptions selected=attribute}}
          </select>
        </div>
    </div>
  </div>

  <!-- If the actor is a vampire, show option to add Discipline dots -->
  {{#ifeq system "vampire"}}
    <hr>
    <div class="flexrow">
        <div class="secondary-selector">
            <div class="selector-title">{{localize "WOD5E.VTM.AddDiscipline"}}</div>
            <select id="disciplineSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions disciplineOptions selected=discipline}}
            </select>
        </div>

      <!-- If the actor isn't a ghoul and isn't at max hunger, show blood surge option -->
      {{#ifnoteq actorType 'ghoul'}}
        {{#ifnoteq hungerValue actor.system.hunger.max}}
          <div class="secondary-selector">
            <div class="selector-title">{{localize "WOD5E.VTM.BloodSurge"}}</div>
              <div class="flexrow flex-center">
                  <input id="bloodSurge" type="checkbox"/>
              </div>
          </div>
        {{/ifnoteq}}
      {{/ifnoteq}}
    </div>
  {{/ifeq}}

    <!-- If the actor is a changeling, show option to add Arts and Realms dots -->
  {{#ifeq system "changeling"}}
    <hr>
    <div class="flexrow">
      <div class="secondary-selector">
          <div class="selector-title">{{localize "WOD5E.CTD.AddArt"}}</div>
          <select id="artSelect">
          <option value="">{{localize "WOD5E.None"}}</option>
          {{selectOptions artOptions selected=art}}
          </select>
      </div>

      <div class="secondary-selector">
          <div class="selector-title">{{localize "WOD5E.CTD.AddLowestRealm"}}</div>
          <select id="realmSelect">
          <option value="">{{localize "WOD5E.None"}}</option>
          {{selectOptions realmOptions selected=realm}}
          </select>
      </div>
    </div>
  {{/ifeq}}

  <!-- If the actor is a werewolf, show option to add Renown dots-->
  {{#ifeq system "werewolf"}}
    <hr>
    <div class="secondary-selector">
        <div>{{localize "WOD5E.WTA.AddRenown"}}</div>
        <select id="renownSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions renownOptions selected=renown}}
        </select>
    </div>
  {{/ifeq}}
</form>
