<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="form-group">
        <label>Actor Header Background</label>
        <div class="form-fields">
            <file-picker name="system.settings.headerbg" type="imagevideo" value="{{headerbg}}" noupload></file-picker>
        </div>
    </div>
    <div class="form-group">
        <label>Actor Type</label>
        <div class="form-fields">
            <select class="actor-type-selector" name="{{actorTypePath}}" data-type="String"{{#if actor.limited}} disabled{{/if}}>
                {{selectOptions actorOptions selected=currentActorType localize=true}}
            </select>
        </div>
    </div>
    {{#ifeq baseActorType 'spc'}}
        <div class="form-group">
            <label>Show General Difficulty</label>
            <div class="form-fields">
                <input type="checkbox" name="system.settings.generalDifficultyEnabled" {{#if generalDifficultyEnabled}}checked{{/if}}>
            </div>
        </div>
    {{/ifeq}}

    {{#if showOptionalPowers}}
        {{#ifeq gamesystem 'vampire'}}
            <div class="form-group">
                <label>Show Disciplines</label>
                <div class="form-fields">
                    <input type="checkbox" name="system.settings.enableDisciplines" {{#if enableDisciplines}}checked{{/if}}>
                </div>
            </div>
        {{/ifeq}}
        {{#ifeq gamesystem 'hunter'}}
            <div class="form-group">
                <label>Show Edges</label>
                <div class="form-fields">
                    <input type="checkbox" name="system.settings.enableEdges" {{#if enableEdges}}checked{{/if}}>
                </div>
            </div>
        {{/ifeq}}
        {{#ifeq gamesystem 'werewolf'}}
            <div class="form-group">
                <label>Show Gifts</label>
                <div class="form-fields">
                    <input type="checkbox" name="system.settings.enableGifts" {{#if enableEdges}}checked{{/if}}>
                </div>
            </div>
        {{/ifeq}}
    {{/if}}
</section>
