{{#each features as |feature key|}}
    <div class="category">
        <div class="feature">
            <div class="flexrow item-header">
                <div class="item-name">
                    {{localize (generateLocalizedLabel key 'features')}}
                </div>
                <!-- Item controls for gift item sections -->
                <div class="item-controls">
                    <!-- Add new feature item -->
                    <a class="item-control item-create" data-action="createItem" title="{{localize 'WOD5E.Add'}}" data-type="feature" data-subtype="{{key}}">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        {{#each feature as |item key|}}
            <div class="collapsible-container">
                <div class="flexrow item" data-drag="true" data-item-id="{{item.id}}" data-document-uuid="{{item.uuid}}" data-type="Item">
                    <div class="item-image">
                        <img src="{{item.img}}" class="clickable" data-action="itemChat" data-item-id="{{item._id}}" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                    </div>
                    <div class="item-name{{#if item.system.enrichedDescription}} collapsible{{/if}}" {{#if item.system.enrichedDescription}}data-action="toggleCollapse"{{/if}}>
                        {{item.name}}
                    </div>
                    {{#if ../../locked}}
                        {{#ifnoteq item.system.featuretype 'boon'}}
                            <div class="dot-tracker">
                                <div class="resource-value" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
                                    <span class="resource-value-empty" data-action="dotCounterEmpty"></span>
                                    {{#numLoop 5}}
                                        <span class="resource-value-step" data-action="dotCounterChange" data-index="{{this}}"></span>
                                    {{/numLoop}}
                                </div>
                            </div>
                        {{/ifnoteq}}
                    {{/if}}
                    <div class="item-controls">
                        <!-- Icon to edit the item -->
                        <a class="item-control item-edit" data-action="itemEdit" data-item-id="{{item._id}}" title="{{localize 'WOD5E.Edit'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Icon to delete the item -->
                        <a class="item-control item-delete" data-action="itemDelete" data-item-id="{{item._id}}" title="{{localize 'WOD5E.Delete'}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="flexrow">
                    {{#if item.system.uses.enabled}}
                        <div>
                            <span>
                                {{localize "WOD5E.ItemsList.UsesRemaining"}}: {{item.system.uses.current}}/{{item.system.uses.max}}
                            </span>
                            <!-- Icon to consume a use of the feature -->
                            <a class="item-control item-use" data-action="expendItemUse" data-item-id="{{item._id}}" title="{{localize 'WOD5E.ItemsList.ExpendUse'}}">
                                <i class="fa-solid fa-angle-down"></i>
                            </a>
                            <!-- Icon to restore the uses of the feature back to max -->
                            <a class="item-control item-restore" data-action="restoreItemUses" data-item-id="{{item._id}}" title="{{localize 'WOD5E.ItemsList.ResetUses'}}">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                        </div>
                    {{/if}}
                    {{#unless ../../locked}}
                        {{#ifnoteq item.system.featuretype 'boon'}}
                            <div class="dot-tracker">
                                <div class="resource-value" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
                                    <span class="resource-value-empty" data-action="dotCounterEmpty"></span>
                                    {{#numLoop 5}}
                                        <span class="resource-value-step" data-action="dotCounterChange" data-index="{{this}}"></span>
                                    {{/numLoop}}
                                </div>
                            </div>
                        {{/ifnoteq}}
                    {{/unless}}
                </div>
                <div class="collapsible-content item-description">
                    {{{item.system.enrichedDescription}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}

{{#ifeq gamesystem 'changeling'}}
    <div class="flex-group-center">
        <div class="flex-center">
            <label class="resource-label field-header">{{localize "WOD5E.CTD.LegacyBan"}}</label>
        </div>
        <div class="resource-contents prosemirror-resource resource bane">
            <div>
                {{{enrichedBan}}}
            </div>
        </div>
    </div>
        <div class="flex-group-center">
        <div class="flex-center">
            <label class="resource-label field-header">{{localize "WOD5E.CTD.KithFrailty"}}</label>
        </div>
        <div class="resource-contents prosemirror-resource resource bane">
            <div>
                {{{enrichedFrailty}}}
            </div>
        </div>
    </div>
    <div class="description-field">
        <div class="flex-center field-header">
            <label class="resource-label">
                {{localize "WOD5E.CTD.PersonalBans"}}
            </label>
        </div>
        <div class="description-content resource">
            <prose-mirror name="system.headers.personalBans" value="{{personalBans}}"
                toggled="true" compact="true">
                {{{enrichedPersonalBans}}}
            </prose-mirror>
        </div>
    </div>
{{/ifeq}}