{{#each features as |feature key|}}
    <div class="category">
        <div class="feature">
            <div class="flexrow item-header">
                <div class="item-name">
                    {{localize (generateLocalizedLabel key 'features')}}
                </div>
                <!-- Item controls for gift item sections -->
                <div class="item-controls">
                    <!-- Add new feature item -->
                    <a class="item-control item-create" data-action="createItem" title="{{localize 'WOD5E.Add'}}" data-type="feature" data-subtype="{{key}}">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        {{#each feature as |item key|}}
            <div class="collapsible-container">
                <div class="flexrow item">
                    <div class="item-image">
                        <img src="{{item.img}}" class="clickable" data-action="itemChat" data-item-id="{{item._id}}" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                    </div>
                    <div class="item-name{{#if item.system.enrichedDescription}} collapsible{{/if}}" {{#if item.system.enrichedDescription}}data-action="toggleCollapse"{{/if}}>{{item.name}}</div>
                    {{#ifnoteq item.system.featuretype 'boon'}}
                        <div class="dot-tracker">
                            <div class="resource-value" data-value="{{item.system.points}}" data-name="items.{{item._id}}">
                                <span class="resource-value-empty" data-action="dotCounterEmpty"></span>
                                {{#numLoop 5}}
                                    <span class="resource-value-step" data-action="dotCounterChange" data-index="{{this}}"></span>
                                {{/numLoop}}
                            </div>
                        </div>
                    {{/ifnoteq}}
                    <div class="item-controls">
                        <!-- Icon to edit the item -->
                        <a class="item-control item-edit" data-action="itemEdit" data-item-id="{{item._id}}" title="{{localize 'WOD5E.Edit'}}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Icon to delete the item -->
                        <a class="item-control item-delete" data-action="itemDelete" data-item-id="{{item._id}}" title="{{localize 'WOD5E.Delete'}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="collapsible-content item-description">
                    {{{item.system.enrichedDescription}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
