<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flex-group-left">
        <div class="flex-center">
            <label class="resource-label">{{localize "WOD5E.Tabs.Equipment"}}</label>
        </div>
        <prose-mirror name="system.equipment" data-document-u-u-i-d="{{../actor.uuid}}" value="{{actor.system.equipment}}"
            toggled="true" compact="true">
            {{{enrichedEquipment}}}
        </prose-mirror>
    </div>
</section>
