<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="grid grid-2col">
        <div class="flexcol">
            <div class="experience-trackers">
                {{#if showLegacyXP}}
                    <div class="tracker flexcol">
                        <div class="field-header flex-center">
                            <div class="field-header big-header">
                                {{localize "WOD5E.Experience.Remaining"}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol">
                                <input name="system.exp.value" type="number" value="{{exp.value}}"/>
                                <div>{{localize "WOD5E.Experience.Legacy"}}</div>
                            </div>
                            <div class="flexcol">
                                <input name="system.derivedXP.remainingXP" type="number" value="{{derivedXP.remainingXP}}" disabled/>
                                <div>{{localize "WOD5E.Experience.Calculated"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tracker flexcol">
                        <div class="field-header flex-center">
                            <div class="field-header big-header">
                                {{localize "WOD5E.Experience.Total"}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol">
                                <input name="system.exp.max" type="number" value="{{exp.max}}"/>
                                <div>{{localize "WOD5E.Experience.Legacy"}}</div>
                            </div>
                            <div class="flexcol">
                                <input name="system.derivedXP.totalXP" type="number" value="{{derivedXP.totalXP}}" disabled/>
                                <div>{{localize "WOD5E.Experience.Calculated"}}</div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="tracker flexcol">
                        <div class="field-header flex-center">
                            <div class="field-header big-header">
                                {{localize "WOD5E.Experience.Label"}}
                            </div>
                        </div>
                        <div class="flexrow">
                            <div class="flexcol exp-tracker">
                                <input name="system.derivedXP.remainingXP" type="number" value="{{derivedXP.remainingXP}}" disabled/>
                                <div>{{localize "WOD5E.Experience.Remaining"}}</div>
                            </div>
                            <div class="flexcol exp-tracker">
                                <input name="system.derivedXP.totalXP" type="number" value="{{derivedXP.totalXP}}" disabled/>
                                <div>{{localize "WOD5E.Experience.Total"}}</div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
            <hr>
            <div class="flex-center flexrow">
                <a class="add-experience" data-action="addExperience" data-operation="add">
                    {{localize "WOD5E.Experience.AddExperience"}}
                </a>
                <a class="spend-experience" data-action="addExperience" data-operation="spend">
                    {{localize "WOD5E.Experience.SpendExperience"}}
                </a>
            </div>
        </div>
        <div class="flexcol">
            <div>
                <div class="field-header big-header flexrow flex-center">
                    {{localize "WOD5E.Experience.History"}}
                </div>
            </div>
            <div class="xp-header flexrow">
                <div class="xp-label xp-header-label">
                    Name
                </div>
                <div class="xp-amount xp-header-label">
                    Amount
                </div>
                <div class="xp-controls xp-header-label">
                    Controls
                </div>
            </div>
            {{#each experiences as |experience key|}}
                <div class="flexrow{{#ifgr experience.value 0}} experience-gain{{/ifgr}}{{#ifless experience.value 0}} experience-spend{{/ifless}}">
                    {{#ifgr experience.value 0}}
                        <img class="xp-icon" src="systems/vtm5e/assets/icons/sheet/exp-gain.webp"/>
                    {{/ifgr}}
                    {{#ifeq experience.value 0}}
                        <img class="xp-icon"  src="systems/vtm5e/assets/icons/sheet/exp-neutral.webp"/>
                    {{/ifeq}}
                    {{#ifless experience.value 0}}
                        <img class="xp-icon"  src="systems/vtm5e/assets/icons/sheet/exp-spend.webp"/>
                    {{/ifless}}
                    <div class="xp-label">
                        {{experience.name}}
                    </div>
                    <div class="xp-amount">
                        {{experience.value}}
                    </div>
                    <div class="xp-controls">
                        <!-- Icon to edit the perk-->
                        <a class="xp-control edit-experience" data-action="editExperience" title="{{localize 'WOD5E.Edit'}}" data-experience-id="{{experience.id}}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Icon to delete the perk -->
                        <a class="xp-control remove-experience" data-action="removeExperience" title="{{localize 'WOD5E.Delete'}}" data-experience-id="{{experience.id}}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
