<div class="tab other" data-group="primary" data-tab="other">
    <div class="resource flexrow grid grid-2col" style="min-height: 264px;"> 
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label">{{localize "WOD5E.Tabs.Notes"}}</label>
            </div>
            <prose-mirror name="system.notes" data-document-u-u-i-d="{{../actor.uuid}}" value="{{actor.system.notes}}" toggled="true">
                {{{enrichedNotes}}}
            </prose-mirror>
        </div>
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label">{{localize "WOD5E.Tabs.Equipment"}}</label>
            </div>
            <prose-mirror name="system.equipment" data-document-u-u-i-d="{{../actor.uuid}}" value="{{actor.system.equipment}}" toggled="true">
                {{{enrichedEquipment}}}
            </prose-mirror>
        </div>
    </div>
</div>