{{!-- Changeling Sheet Header --}}
<header class="actor-header" {{#if headerbg}} style="background: url({{headerbg}}) center;"{{/if}}>
    <div class="header-fields">
        <div class="header-fields-left">
            {{!-- Health Tracker --}}
            {{> "systems/vtm5ec/display/shared/actors/parts/health.hbs"}}
            {{!-- Willpower Tracker --}}
            {{> "systems/vtm5ec/display/shared/actors/parts/willpower.hbs"}}
        </div>
    </div>
    <!-- Middle of the header -->
    {{> "systems/vtm5ec/display/shared/actors/parts/header-profile.hbs"}}
    <div class="header-fields">
        <div class="header-fields-right">
            <div class="flexcol">
                <div class="field-section flexrow">
                    <div class="flexrow nowrap flexend">
                        <div class="flexcol shared-row">
                            <label class="resource-label field-header">{{localize 'WOD5E.CTD.Legacy'}}</label>
                            <div class="resource resource-content">
                                {{#if legacy}}
                                    <span class="data-item nowrap">
                                        {{legacy.name}}
                                    </span>
                                    <a class="edit-data-item" data-action="itemEdit" data-item-id="{{legacy.id}}">
                                        <i class="fa-solid fa-pen-nib"></i>
                                    </a>
                                {{else}}
                                    <a class="add-data-item" data-action="createItem" data-type="legacy">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="flexcol shared-row">
                            <label class="resource-label field-header">{{localize 'WOD5E.CTD.Kith'}}</label>
                            <div class="resource resource-content">
                                {{#if kith}}
                                    <span class="data-item nowrap">
                                        {{kith.name}}
                                    </span>
                                    <a class="edit-data-item" data-action="itemEdit" data-item-id="{{kith.id}}">
                                        <i class="fa-solid fa-pen-nib"></i>
                                    </a>
                                {{else}}
                                    <a class="add-data-item" data-action="createItem" data-type="kith">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flexcol field-section">
                    <label class="resource-label field-header">{{localize "WOD5E.CTD.Nightmare"}}</label>
                    <div class="flexrow">
                        {{> "systems/vtm5ec/display/ctd/actors/parts/nightmare.hbs"}}
                        {{> "systems/vtm5ec/display/ctd/actors/parts/unleash.hbs"}}
                    </div>
                </div>
                <div class="flexcol field-section">
                    <div class="system-rollable creativity-roll" data-action="creativityRoll" title="{{localize 'WOD5E.CTD.RollCreativity'}}">
                        <label class="resource-label field-header">{{localize "WOD5E.CTD.Wyrd"}}</label>
                        <i class="fa-solid fa-dice-d10"></i>
                    </div>
                    <div class="flexrow">
                        {{> "systems/vtm5ec/display/ctd/actors/parts/wyrd.hbs"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
