<header class="item-header">
    <img class="profile-img" data-action="editImage" src="{{img}}" data-edit="img" title="{{name}}" alt="Item Image" />
    <div class="header-fields">
        <input class="itemname" name="name" type="text" value="{{name}}" placeholder="{{localize 'WOD5E.Name'}}"/>
        <div class="flexrow flex-center header-details">
            <div>
                <b>{{localize "WOD5E.ItemsList.Type"}}</b>
            </div>
            <input name="system.boontype" value="{{boonType}}"/>
        </div>
    </div>
</header>
