<header class="item-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" alt="Item Image" />
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'WOD5E.Name'}}" /></h1>
        <div class="flexrow">
            <!-- Input the dots of the feature -->
            <div class="flexcol level flex-center item-resource">
                <div>
                    <b>{{localize "WOD5E.ItemsList.Points"}}</b>
                </div>
                <input name="system.points" value="{{points}}" type="number" min="0" max="5"/>
            </div>
            <!-- Select the type this feature belongs to -->
            <div class="flexcol feature-type flex-center item-resource">
                <label>
                    <b>{{localize "WOD5E.ItemsList.FeatureType"}}</b>
                </label>
                <select name="system.featuretype" data-type="String">
                    {{selectOptions featureTypeOptions selected=selectedFeatureType localize=true}}
                </select>
            </div>
        </div>
    </div>
</header>
