<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <prose-mirror name="system.description" value="{{description}}"
        toggled="true" compact="true">
        {{{enrichedDescription}}}
    </prose-mirror>
</section>
