<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flex-group-center flexrow">
        <div class="field-header flexrow">
            {{localize 'WOD5E.ItemsList.FeatureUsesEnabled'}}
        </div>
        <div>
            <input type="checkbox" name="system.uses.enabled"{{#if uses.enabled}} checked{{/if}}/>
        </div>
    </div>

    {{#if uses.enabled}}
        <div class="flex-group-center flexrow">
            <div class="field-header flexrow">
                {{localize 'WOD5E.ItemsList.MaxUses'}}
            </div>
            <div>
                <input type="number" name="system.uses.max" value="{{uses.max}}"/>
            </div>
        </div>
    {{/if}}

    {{> "systems/vtm5e/display/shared/items/parts/data-item-id.hbs"}}
</section>
