<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flex-group-center flexrow">
        <div class="field-header flexrow">
            {{localize 'WOD5E.ItemsList.DataItemId'}}
            <a data-action="formatDataId" title="{{localize 'WOD5E.ItemsList.GenerateDataItemID'}}">
                <i class="fa-solid fa-arrows-rotate"></i>
            </a>
        </div>
        <div>
            <input type="text" value="{{dataItemId}}" disabled/>
        </div>
    </div>
</section>
