<div class="modifier">
    <div class="field-header big-header"><input id="modifierSource" name="modifierSource" type="text" value="{{bonus.source}}" placeholder="{{localize 'WOD5E.Modifier.NewModifier'}}"/></div>
    <div class="grid grid-3col flex-center">
        <div class="flexcol">
            <b>{{localize "WOD5E.Value"}}</b>
            <input class="input-value" id="modifierValue" name="modifierValue" type="number" value="{{bonus.value}}"/>
        </div>
        <div>
            <b>{{localize "WOD5E.Modifier.Unless"}}</b>
            <input id="unless" name="unless" type="text" value="{{bonus.unless}}" placeholder="{{localize 'WOD5E.Modifier.Unless'}}"/>
        </div>
        <div>
            <input id="displayModifierWhenInactive" name="displayModifierWhenInactive" type="checkbox"{{#if bonus.displayWhenInactive}} checked{{/if}}/>
            <label for="displayModifierWhenInactive">{{localize "WOD5E.Modifier.DisplayWhenInactive"}}</label>
        </div>
    </div>
    <div class="grid grid-3col flex-center">
        <div class="flexcol">
            <b>{{localize "WOD5E.Modifier.ActiveWhen"}}</b>
            <select id="activeWhenCheck" name="activeWhenCheck">
                <option value="never"{{#ifeq bonus.activeWhen.check "never"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.Never"}}</option>
                <option value="always"{{#ifeq bonus.activeWhen.check "always"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.Always"}}</option>
                <option value="isEqual"{{#ifeq bonus.activeWhen.check "isEqual"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.IfEquals"}}</option>
                <option value="isPath"{{#ifeq bonus.activeWhen.check "isPath"}} selected{{/ifeq}}>{{localize "WOD5E.Modifier.IfPathIs"}}</option>
            </select>
        </div>
        <div class="active-when-path">
            <b>{{localize "WOD5E.Modifier.PathToCheck"}}</b>
            <input id="activeWhenPath" name="activeWhenPath" type="text" value="{{bonus.activeWhen.path}}" placeholder="{{localize 'WOD5E.Modifier.PathToCheck'}}"/>
        </div>
        <div class="active-when-value">
            <b>{{localize "WOD5E.Modifier.ValueToCheck"}}</b>
            <input id="activeWhenValue" name="activeWhenValue" type="text" value="{{bonus.activeWhen.value}}" placeholder="{{localize 'WOD5E.Modifier.ValueToCheck'}}"/>
        </div>
    </div>
    <div class="flexcol">
        <b>{{localize "WOD5E.Modifier.Selectors"}}</b>
        <input id="modifier" name="modifier" list="modifier-selectors" class="modifier-selectors" type="text" value="{{splitArray bonus.paths}}" placeholder="{{localize 'WOD5E.None'}}"/>
        <datalist id="modifier-selectors">
          {{selectOptions modifierSelectors selected=value valueAttr="id" labelAttr="displayName" }}
        </datalist>
    </div>
</div>
