<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <!-- Select the type this weapon belongs to -->
    <div class="flex-group-center flexrow">
        <div class="field-header flexrow">
            {{localize "WOD5E.EquipmentList.WeaponType"}}
        </div>
        <div>
            <select name="system.weaponType" data-type="String">
                {{selectOptions weaponTypeOptions selected=weaponTypeSelected localize=true}}
            </select>
        </div>
    </div>

    {{> "systems/vtm5ec/display/shared/items/parts/item-uses.hbs"}}

    {{> "systems/vtm5ec/display/shared/items/parts/data-item-id.hbs"}}
</section>
