<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flex-group-center flexrow">
        <div class="field-header flexrow">
            {{localize "WOD5E.WTA.GiftType"}}
        </div>
        <div>
            <select name="system.giftType" data-type="String">
                {{selectOptions giftOptions selected=selectedGift localize=true}}
            </select>
        </div>
    </div>

    <div class="flex-group-center flexrow">
        <div class="field-header flexrow">
            {{localize "WOD5E.WTA.Renown"}}
        </div>
        <div>
            <select name="system.renown" data-type="String">
                {{selectOptions renownOptions selected=selectedRenown localize=true}}
            </select>
        </div>
    </div>

    {{> "systems/vtm5ec/display/shared/items/parts/data-item-id.hbs"}}
</section>
