<option value="autumn">{{localize "WOD5E.CTD.Autumn"}}</option>
<option value="chicanery">{{localize "WOD5E.CTD.Chicanery"}}</option>
<option value="chronos">{{localize "WOD5E.CTD.Chronos"}}</option>
<option value="contract">{{localize "WOD5E.CTD.Contract"}}</option>
<option value="dragonsIre">{{localize "WOD5E.CTD.DragonsIre"}}</option>
<option value="legerdemain">{{localize "WOD5E.CTD.Legerdemain"}}</option>
<option value="metamorphosis">{{localize "WOD5E.CTD.Metamorphosis"}}</option>
<option value="naming">{{localize "WOD5E.CTD.Naming"}}</option>
<option value="oneiromancy">{{localize "WOD5E.CTD.Oneiromancy"}}</option>
<option value="primal">{{localize "WOD5E.CTD.Primal"}}</option>
<option value="pyretics">{{localize "WOD5E.CTD.Pyretics"}}</option>
<option value="skycraft">{{localize "WOD5E.CTD.Skycraft"}}</option>
<option value="soothsay">{{localize "WOD5E.CTD.Soothsay"}}</option>
<option value="sovereign">{{localize "WOD5E.CTD.Sovereign"}}</option>
<option value="spring">{{localize "WOD5E.CTD.Spring"}}</option>
<option value="summer">{{localize "WOD5E.CTD.Summer"}}</option>
<option value="wayfare">{{localize "WOD5E.CTD.Wayfare"}}</option>
<option value="winter">{{localize "WOD5E.CTD.Winter"}}</option>