<option value="actor">{{localize "WOD5E.CTD.Actor"}}</option>
<option value="nature">{{localize "WOD5E.CTD.Nature"}}</option>
<option value="prop">{{localize "WOD5E.CTD.Prop"}}</option>
<option value="scene">{{localize "WOD5E.CTD.Scene"}}</option>
<option value="time">{{localize "WOD5E.CTD.Time"}}</option>