<li class="chat-message message flexcol {{cssClass}}" data-message-id="{{message._id}}"
    {{#if borderColor}}style="border-color:{{borderColor}}"{{/if}}>
    <header class="message-header flexrow">
        <div class="portrait token">
            <img src="{{portrait}}" alt="{{alias}}" inert>
        </div>
        <div class="message-names flexcol">
            <span class="message-sender">
                {{alias}}
            </span>
            {{#if isWhisper}}
                <span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
            {{/if}}
        </div>
        <div class="message-metadata">
            <time class="message-timestamp">{{timeSince message.timestamp}}</time>
            {{#if canDelete}}
            <a aria-label="{{localize 'Delete'}}" class="message-delete" data-action="deleteMessage">
                <i class="fa-solid fa-trash" inert></i>
            </a>
            {{/if}}
            {{#if canClose}}
            <a aria-label="{{ localize "CHAT.Dismiss" }}" class="message-dismiss" data-action="dismissMessage">
                <i class="fa-solid fa-xmark" inert></i>
            </a>
            {{/if}}
        </div>

        {{#if message.flavor}}
        <span class="flavor-text">{{{message.flavor}}}</span>
        {{/if}}
    </header>
    <hr>
    <div class="message-content">
        {{{message.content}}}
    </div>
</li>
