<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flexcol">
        <div class="flexcol">
            <div class="field-header">
                {{localize 'WOD5E.HTR.SuggestedEdges'}}
            </div>
            <input type="text" name="system.edges" value="{{edges}}" placeholder="{{localize 'WOD5E.HTR.SuggestedEdges'}}"/>
        </div>
        <div class="flexcol">
            <div class="field-header">
                {{localize 'WOD5E.HTR.SuggestedDrives'}}
            </div>
            <input type="text" name="system.drives" value="{{drives}}" placeholder="{{localize 'WOD5E.HTR.SuggestedDrives'}}"/>
        </div>
        <div class="flexcol">
            <div class="field-header">
                {{localize 'WOD5E.HTR.DesperationDiceFields'}}
            </div>
            <input type="text" name="system.desperationFields" value="{{desperationFields}}" placeholder="{{localize 'WOD5E.HTR.DesperationDiceFields'}}"/>
        </div>
    </div>
</section>
