<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="flexcol detail-row">
        <div class="field-header">
            {{localize 'WOD5E.HTR.Redemption'}}
        </div>
        <input type="text" name="system.redemption" value="{{redemption}}" placeholder="{{localize 'WOD5E.HTR.Redemption'}}"/>
    </div>
</section>
