<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <prose-mirror name="system.redemption" value="{{redemption}}" toggled="true" compact="true">
        {{{enrichedRedemption}}}
    </prose-mirror>
</section>
