<div class="roll-menu-sidebar">
  <div class="flexcol roll-builder {{#ifeq activeRollID 'temp'}}active{{else}}clickable-button{{/ifeq}}">
    <div data-action="openRollBuilder">
      {{ localize 'WOD5E.RollList.RollBuilder' }}
    </div>
  </div>
  <hr>
  <div class="title">{{ localize 'WOD5E.RollList.SavedRolls' }}</div>
  <div class="flexcol saved-rolls-list">
    {{#each savedRolls as |roll key|}}
      <div class="flexrow saved-roll {{#ifeq ../activeRollID key}}active{{else}}clickable-button{{/ifeq}}" data-id="{{key}}">
        <div data-action="removeSavedRoll" class="remove-saved-roll" title="{{localize 'WOD5E.RollList.RemoveRoll'}}">
          x
        </div>
        <div data-action="selectSavedRoll">
          {{#if roll.name}}
            {{roll.name}}
          {{else}}
            {{ localize 'WOD5E.RollList.Unnamed' }}
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="saved-rolls-footer clickable-button" data-action="addNewRoll">
    {{localize 'WOD5E.RollList.AddNewRoll'}}
  </div>
</div>
