<div class="main flexcol">
  <div class="roll-menu-body flexcol">
    <!-- Name and Splat selectors -->
    <div class="roll-basic-info flexrow">
      <label>
        Name
        <input type="text" name="name" value="{{activeRoll.name}}" />
      </label>
      <label>
        Splat
        <select id="splatSelect" name="splatSelect">
          <option value="">{{localize "WOD5E.Any"}}</option>
          {{selectOptions splatOptions selected=activeRoll.splat localize=true}}
        </select>
      </label>
    </div>
    <hr>
    <div class="roll-constructor">
      <!-- Skill and Attribute selectors -->
      <div class="roll-dice-selectors flexrow">
        <label>
          Skill
          <select id="skillSelect" name="skillSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions skillOptions selected=activeRoll.dice.skill localize=true}}
          </select>
        </label>
        <label>
          Attribute
          <select id="attributeSelect" name="attributeSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions attributeOptions selected=activeRoll.dice.attribute localize=true}}
          </select>
        </label>
      </div>
      <div class="constructed-roll">
        {{#each activeRoll.dice as |die key|}}
          <div>
            {{die.value}}
          </div>
        {{/each}}
      </div>
      <div class="roll-options flexrow">
        <div class="option-toggle">
          <input type="checkbox" name="extendedRollCheckbox" {{#if activeRoll.isExtendedRoll}}checked{{/if}}/>
          Is Extended?
        </div>
        <div class="option-toggle">
          <input type="checkbox" name="contestedRollCheckbox" {{#if activeRoll.isContestedRoll}}checked{{/if}}/>
          Is Contested?
        </div>
      </div>
    </div>
    <hr>
    <div class="roll-menu-footer">
      <div class="roll-buttons">
        <div class="roll-button">
          <i class="fa-solid fa-dice-d10"></i>
          Roll
        </div>
        <div class="roll-button">
          <i class="fas fa-comment-alt"></i>
          Prompt in Chat
        </div>
      </div>
    </div>
  </div>
</div>
