<div class="main flexcol">
  <div class="roll-menu-body flexcol">
    <!-- Name and Splat selectors -->
    <div class="roll-basic-info flexrow">
      <label>
        {{localize 'WOD5E.Name'}}
        <input type="text" name="name" value="{{activeRoll.name}}" />
      </label>
    </div>
    <hr>
    <div class="roll-constructor">
      <!-- Skill and Attribute selectors -->
      <div class="roll-dice-selectors flexrow">
        <label>
          {{localize 'WOD5E.SkillsList.Label'}}
          <select id="skillSelect" name="skillSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions skillOptions selected=activeRoll.dice.skill localize=true}}
          </select>
        </label>
        <label>
          {{localize 'WOD5E.AttributesList.Label'}}
          <select id="attributeSelect" name="attributeSelect">
            <option value="">{{localize "WOD5E.None"}}</option>
            {{selectOptions attributeOptions selected=activeRoll.dice.attribute localize=true}}
          </select>
        </label>
      </div>
      <div class="constructed-roll">
        {{#each activeRoll.dice as |die key|}}
          <div>
            {{die.value}}
          </div>
        {{/each}}
      </div>
      <div class="roll-options flexrow">
        <div class="option-toggle">
          <input type="checkbox" name="extendedRollCheckbox" {{#if activeRoll.isExtendedRoll}}checked{{/if}}/>
          {{localize 'WOD5E.RollList.IsExtended'}}
        </div>
        <div class="option-toggle">
          <input type="checkbox" name="contestedRollCheckbox" {{#if activeRoll.isContestedRoll}}checked{{/if}}/>
          {{localize 'WOD5E.RollList.IsContested'}}
        </div>
      </div>
    </div>
    <hr>
    <div class="roll-menu-footer">
      <div class="roll-menu-footer-buttons">
        <div class="roll-button clickable-button" data-action="rollFromRollMenu">
          <i class="fa-solid fa-dice-d10"></i>
          {{localize 'WOD5E.RollList.Label'}}
        </div>
        <div class="prompt-button clickable-button" data-action="promptInChat">
          <i class="fas fa-comment-alt"></i>
          {{localize 'WOD5E.RollList.PromptInChat'}}
        </div>
      </div>
    </div>
  </div>
</div>
