<div class="saved-rolls">
  <div class="title">Saved Rolls</div>
  <div class="flexcol saved-rolls-list">
    {{#each savedRolls as |roll key|}}
      <div class="flexrow saved-roll {{#ifeq key ../activeRollID}}active{{/ifeq}}" data-id="{{key}}">
        <div data-action="removeSavedRoll" class="remove-saved-roll" title="{{localize 'WOD5E.RollList.RemoveRoll'}}">
          x
        </div>
        <div data-action="selectSavedRoll">
          {{#if roll.name}}
            {{roll.name}}
          {{else}}
            Unnamed
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="saved-rolls-footer clickable-button" data-action="addNewRoll">
    {{localize 'WOD5E.RollList.AddNewRoll'}}
  </div>
</div>
