<div class="flexcol">
    <div class="flex-group-center flexrow">
        <label for="actor.system.balance.harano" class="field-header resource-label system-rollable harano-roll">    
            {{localize "WOD5E.WTA.Harano"}}
            <i class="fa-solid fa-dice-d10"></i>
        </label>
        <label for="actor.system.balance.hauglosk" class="field-header resource-label system-rollable hauglosk-roll">    
            {{localize "WOD5E.WTA.Hauglosk"}}
            <i class="fa-solid fa-dice-d10"></i>
        </label>
    </div>
    <div class="resource balance wolf-resource flexrow">
        <div class="harano">
            <div class="resource-content">
                <div class="resource-value" data-value="{{actor.system.balance.harano.value}}" data-name="system.balance.harano.value">
                    <span class="resource-value-empty harano-value"></span>
                    {{#numLoop 5}}
                        <span class="resource-value-step harano-value" data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            </div>
        </div>
        <div class="hauglosk">
            <div class="resource-content">
                <div class="resource-value" data-value="{{actor.system.balance.hauglosk.value}}" data-name="system.balance.hauglosk.value">
                    <span class="resource-value-empty hauglosk-value"></span>
                    {{#numLoop 5}}
                        <span class="resource-value-step hauglosk-value" data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            </div>
        </div>
    </div>
</div>
