<div class="tab features" data-group="primary" data-tab="features">
    <div class="flexrow">
        <div class="character-details flexcol">
            <div class="flexcol flex-group-center">
                <!-- Core character details -->
                {{> "systems/vtm5e/display/shared/actors/parts/core-details.hbs"}}

                <!-- Werewolf-specific details -->
                <div class="flexrow detail-row">
                    <div class="flex-group-center flexcol wolf-resource">
                        <label class="resource-label field-header">{{localize "WOD5E.WTA.PatronSpirit"}}</label>
                        <input type="text" name="system.headers.patron" value="{{actor.system.headers.patron}}" placeholder="{{localize "WOD5E.WTA.PatronSpirit"}}" />
                    </div>
                </div>

                <div class="flexrow detail-row">
                    <div class="flex-group-center flexcol wolf-resource shared-row">
                        <label class="resource-label field-header">{{localize "WOD5E.WTA.Favor"}}</label>
                        <input type="text" name="system.headers.favor" value="{{actor.system.headers.favor}}" placeholder="{{localize "WOD5E.WTA.Favor"}}" />
                    </div>
                    <div class="flex-group-center flexcol wolf-resource shared-row">
                        <label class="resource-label field-header">{{localize "WOD5E.WTA.Ban"}}</label>
                        <input type="text" name="system.headers.ban" value="{{actor.system.headers.ban}}" placeholder="{{localize "WOD5E.WTA.Ban"}}" />
                    </div>
                </div>

                <!-- Chronicle Tenets -->
                {{> "systems/vtm5e/display/shared/actors/parts/chronicle-tenets.hbs"}}
            </div>
        </div>
        <div class="features-list item-list">
            <!-- Core features -->
            {{> "systems/vtm5e/display/shared/actors/parts/core-features.hbs"}}
        </div>
    </div>
</div>
