<div class="tab gifts" data-group="primary" data-tab="gifts-rites">
    {{> "systems/vtm5e/display/wta/actors/parts/renown.hbs"}}
    {{#if actor.system.frenzyActive}}
        <div class="frenzyNotification flex-center">
            <h1>{{localize 'WOD5E.WTA.FrenzyActiveWarning'}}</h1>
            <h3>{{localize 'WOD5E.WTA.FrenzyActiveWarning2'}}</h3>
        </div>
    {{/if}}
    <div class="flexrow">
        <div class="gifts-list item-list">
            <!-- Item control for adding new gift lists -->
            <div class="item-controls">
                <a class="item-control add-gift flex-center" title="{{localize 'WOD5E.WTA.AddGift'}}">
                    <h2>
                        <i class="fas fa-plus"></i>
                        {{localize "WOD5E.WTA.AddGift"}}
                    </h2>
                </a>
            </div>
            <!-- Iterate through each of the gift lists -->
            {{#each actor.system.gifts as |gift key|}}
                {{#if gift.visible}}
                    <div class="gift category">
                        <div class="flexrow item-header">
                            <div class="item-name">
                                {{#if (ne key "rite")}}
                                    {{gift.displayName}}
                                {{else}}
                                    {{localize "WOD5E.WTA.Rites"}}
                                {{/if}}
                            </div>
                            <!-- Item controls for gift sections -->
                            <div class="item-controls">
                                <!-- Icon to show the gift description to the chat-->
                                <a class="item-control gift-chat" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}" data-gift="{{key}}">
                                    <i class="fas fa-comment-alt"></i>
                                </a>
                                <!-- Icon to delete the gift (as long as it doesn't have any powers) -->
                                {{#if (eq gift.powers.length 0)}}
                                    <a class="item-control gift-delete" title="{{localize 'WOD5E.Delete'}}" data-gift="{{key}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="gift-description">
                            <prose-mirror name="system.gifts.{{key}}.description" data-document-u-u-i-d="{{../actor.uuid}}" value="{{gift.description}}"
                                toggled="true" compact="true">
                                {{{gift.enrichedDescription}}}
                            </prose-mirror>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="powers-list item-list">
            {{#each actor.system.gifts as |gift key|}}
                {{#if gift.visible}}
                    <div class="gift category">
                        <div class="flexrow item-header">
                            <div class="item-name">
                                {{#if (ne key "rite")}}
                                    {{localize "WOD5E.WTA.StringGifts" string=gift.displayName}}
                                {{else}}
                                    {{localize "WOD5E.WTA.Rites"}}
                                {{/if}}
                            </div>
                            <!-- Item controls for gift power sections -->
                            <div class="item-controls">
                                <!-- Add new gift power -->
                                <a class="item-control item-create" data-action="createItem" title="{{localize 'WOD5E.WTA.AddGift'}}" data-type="gift" data-subtype="{{key}}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        {{#each gift.powers as |power key|}}
                            <div class="collapsible-container">
                                <div class="flexrow power item" data-item-id="{{power._id}}">
                                    <div class="item-image">
                                        <img src="{{power.img}}">
                                    </div>
                                    <div class="item-name{{#if power.system.enrichedDescription}} collapsible{{/if}}" {{#if power.system.enrichedDescription}}data-action="toggleCollapse"{{/if}}>{{power.name}}</div>
                                    <div class="item-controls">
                                        <!-- Icon to edit the power -->
                                        <a class="item-control item-edit" data-action="itemEdit" title="{{localize 'WOD5E.Edit'}}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <!-- Icon to roll the power's dicepool -->
                                        {{#if (isNotEmpty power.system.dicepool)}}
                                            <a class="item-control rollable-item" data-action="rollItem" data-item-uuid="{{power.uuid}}">
                                                <i class="fa-solid fa-dice-d10"></i>
                                            </a>
                                        {{/if}}
                                        <!-- Icon to display the power in chat -->
                                        <a class="item-control item-chat" data-action="itemChat" title="{{localize 'WOD5E.ItemsList.ShowToChat'}}">
                                            <i class="fas fa-comment-alt"></i>
                                        </a>
                                        <!-- Icon to delete the power -->
                                        <a class="item-control item-delete" data-action="itemDelete" title="{{localize 'WOD5E.Delete'}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapsible-content item-description">
                                    {{{power.system.enrichedDescription}}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
