<div class="flexrow grid grid-3col renown">
  <!-- Glory-->
  <div class="flex-group-center glory-value">
    <label for="actor.system.renown.glory.value" class="resource-label rollable field-header" data-action="roll" data-value-paths="renown.glory.value"
        data-renown="glory" data-select-dialog="true">
        {{localize "WOD5E.WTA.Glory"}}
        <i class="fa-solid fa-dice-d10"></i>
    </label>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-value" data-value="{{renown.glory.value}}" data-name="system.renown.glory.value">
            <span class="resource-value-empty glory-value" data-action="dotCounterEmpty"></span>
            {{#numLoop 5}}
                <span class="resource-value-step glory-value" data-action="dotCounterChange" data-index="{{this}}"></span>
            {{/numLoop}}
        </div>
    </div>
  </div>
  <!-- Honor -->
  <div class="flex-group-center honor-value">
    <label for="actor.system.renown.honor.value" class="resource-label rollable field-header" data-action="roll" data-value-paths="renown.honor.value"
        data-renown="honor" data-select-dialog="true">
        {{localize "WOD5E.WTA.Honor"}}
        <i class="fa-solid fa-dice-d10"></i>
    </label>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-value" data-value="{{renown.honor.value}}" data-name="system.renown.honor.value">
            <span class="resource-value-empty honor-value" data-action="dotCounterEmpty"></span>
            {{#numLoop 5}}
                <span class="resource-value-step honor-value" data-action="dotCounterChange" data-index="{{this}}"></span>
            {{/numLoop}}
        </div>
    </div>
  </div>
  <!-- Wisdom -->
  <div class="flex-group-center wisdom-value">
    <label for="actor.system.renown.wisdom.value" class="resource-label rollable field-header" data-action="roll" data-value-paths="renown.wisdom.value"
        data-renown="wisdom" data-select-dialog="true">
        {{localize "WOD5E.WTA.Wisdom"}}
        <i class="fa-solid fa-dice-d10"></i>
    </label>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-value" data-value="{{renown.wisdom.value}}" data-name="system.renown.wisdom.value">
            <span class="resource-value-empty wisdom-value" data-action="dotCounterEmpty"></span>
            {{#numLoop 5}}
                <span class="resource-value-step wisdom-value" data-action="dotCounterChange" data-index="{{this}}"></span>
            {{/numLoop}}
        </div>
    </div>
  </div>
</div>
